{% load static %}
<!doctype html>
<html lang="en">
<head>
    <style>
    .carousel-item img {
        height: 500px;
        width: 100%;
        object-fit: contain;
        background-color: #f8f9fa;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'components/_style.html' %}
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    {% include 'layout/navbar.html' %}
   <main>
        {% block main %}
       {% endblock main%}
   </main>
<footer>
        {% include 'layout/footer.html' %}
    </footer>
</div>
{% include 'components/_scripts.html' %}
</body>
</html>