{% load static %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/img.png' %}" width="150px" style="border-radius:50%">
        </a>

        <a href="{% url 'add_car' %}" class="nav-link me-auto ms-3">Mashina qo'shish</a>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Qidirish</button>
        </form>
    </div>
</nav>