<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
{% if cars %}
    {% for car in cars %}
        <p><b>Avtomobil: <a href="{% url 'car_detail' car.id %}">{{ car.name }}</a></b></p>
        <p>Nomi:<i> {{ car.name }}</i></p>
        <p>Narhi: <i>{{ car.price }}</i></p>
        <p>Rangi: <i>{{ car.color }}</i></p>
        <p>Ko'rinishi: 👇</p>
        {% if car.image %}
            <img src="{{ car.image.url }}" class="img-thumbnail" style="height: 250px; object-fit: cover;" alt="{{ car.name }}">
        {% endif %}
    {% endfor %}
{% elif car %}
    <p><b>Avtomobil: <a href="{% url 'car_detail' car.id %}">{{ car.name }}</a></b></p>
    <p>Nomi:<i> {{ car.name }}</i></p>
    <p>Narhi: <i>{{ car.price }}</i></p>
    <p>Rangi: <i>{{ car.color }}</i></p>
    <p>Ko'rinishi: 👇</p>
    {% if car.image %}
            <img src="{{ car.image.url }}" class="img-thumbnail" style="height: 250px; object-fit: cover;" alt="{{ car.name }}">
    {% endif %}
<div class="card-body">
    <form method="post">
        {% csrf_token%}
        {{ form.as_p }}
        <button class="btn btn-success">Saqlash</button>
    </form>
</div>
{% endif %}
</body>
</html>